@font-face {
  font-family: 'Linux Biolinum';
  src: url('/fonts/LinBiolinum_R.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Biolinum';
  src: url('/fonts/LinBiolinum_RI.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Biolinum';
  src: url('/fonts/LinBiolinum_RB.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Linux Biolinum', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Linux Biolinum', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Linux Biolinum', sans-serif;
}

.publication-authors {
    font-family: 'Linux Biolinum', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

body {
  font-family: 'Linux Biolinum', sans-serif;
}

.background-img {
  background-image: url('https://i.imgur.com/s08MkXC.jpg');
}
.foreground-img {
  background-image: url('https://i.imgur.com/PfIWek4.jpg');
  width: 50%;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Linux Biolinum', sans-serif;
}

.navbar-inner {
  height: 280px;  
}

.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

/* .hero-body {
  background-color: #ADD8E6;
} */


.publication-title {
  font-family: 'Linux Biolinum', sans-serif;
  font-weight: 500;
}

.publication-authors {
    font-family: 'Linux Biolinum', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.affiliation-logo {
  display: inline-block;
  width: 20%
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}
.harmonization {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bal-container-small {
  position: relative;
  width: 100%;
  /* height: 300px; */
  padding-bottom: 65%;
  cursor: grab;
  overflow: hidden;
}

.bal-container-big {
  position: relative;
  width: 100%;
  height: 600px;
  cursor: grab;
  overflow: hidden;
}

.bal-after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bal-before {
  display: block;
  position: absolute;
  top: 0;
  /* right: 0; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  overflow: hidden;
}

.bal-before-inset {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.bal-after img,
.bal-before img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.bal-beforePosition {
  background: rgba(200, 200, 200, 0.8);
  color: #000000;
  left: 0;
  pointer-events: none;
  border-radius: 0.2rem;
  padding: 1px 6px;
  text-align: center;
}

.bal-afterPosition {
  background: rgba(200, 200, 200, 0.8);
  color: #000000;
  right: 0;
  pointer-events: none;
  border-radius: 0.2rem;
  padding: 1px 6px;
  text-align: center;
}

.beforeLabel {
  position: absolute;
  bottom: 0;
  margin: 0.3rem;
  font-size: 0.8em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.afterLabel {
  position: absolute;
  bottom: 0;
  margin: 0.3rem;
  font-size: 0.8em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.bal-handle {
  height: 19px;
  width: 19px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -9px;
  margin-top: -10px;
  border: 2px solid #fff;
  border-radius: 1000px;
  z-index: 20;
  pointer-events: none;
  box-shadow: 0 0 10px rgb(12, 12, 12);
}

.handle-left-arrow,
.handle-right-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}

.handle-left-arrow {
  border-right: 3px solid #fff;
  left: 50%;
  margin-left: -11px;
}

.handle-right-arrow {
  border-left: 3px solid #fff;
  right: 50%;
  margin-right: -11px;
}

.bal-handle::before {
  bottom: -20%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgb(12, 12, 12);
}

.bal-handle::after {
  top: -20%;
  margin-top: 20.5px;
  box-shadow: 0 0 5px rgb(12, 12, 12);
}

.bal-handle::before,
.bal-handle::after {
  content: " ";
  display: block;
  width: 2px;
  background: #fff;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -1.5px;
}

.section {
  width: 100%;
}

.conference {
  font-size: 20px;
  font-weight: bold;
  color: rgb(148,32,94);
  margin-top: -15px;
  margin-bottom: 5px;
}

.univ_logo {
  margin-top: 10px;
  margin-bottom: 5px;
  /* max-width: 800px; */
}